@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: Public Sans, sans-serif;
  height: 100%;
  width: 100%;
}
@layer components {
  body {
    height: 100%;
    width: 100%;
  }
  .nav .nav-child {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-child.active {
    border-bottom: 2px solid hsl(136, 65%, 51%);
  }
  .gradient-button {
    width: fit-content;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: white;
    border: none;
    border-radius: 99999px;
    padding: 0.5rem 2rem;
  }
  .gradient-button:active {
    transform: scale(0.98);
  }
}