@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    height: 100vh;
  }
  :root{
    font-family: Public Sans, sans-serif;
    height: 100%;
  }
  .nav .nav-child {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}